html {
	height: 100%;
	font-size: 100%;
}

body {
	padding-top: 70px;
	height: 100%;

}

.navbar {
	background-color: #292C44;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
        display: block;
        height: auto;
        max-width: 100%;
        line-height: 1;
        margin:auto;
        width: 100%;
}

.panel-heading {
	background-color: #4F80E1 !important;
	text-align: center;
}

.panel-heading>h4 {
	margin: auto;
}


.caption {
	height: 130px;
	overflow: hidden;
}

.caption h4 {
	white-space: nowrap;
}

.thumbnail img {
	width: 100%;
}

.ratings {
	padding-right: 10px;
	padding-left: 10px;
	color: #d17581;
}

.thumbnail {
	padding: 0;
}

.thumbnail .caption-full {
	padding: 9px;
	color: #333;
}

footer {
	margin: 0;
}

/*
Custom style 
*/
.table-responsive {
	overflow-x: inherit;
}

.wrapper {
	min-height: 100%;
	position: relative;
}

.content {
	padding-bottom: 60px; /* height of the footer */
}

.footer {
	position: absolute;
	bottom: 15px;
	height: 60px;
}

.dataTableImg {
	width: 100px;
	height: 100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

input {
	margin-bottom: 10px;
}

table {
	text-align: center;
}

.help-block {
	color: red;
}

.adminDataTableImg {
	height: 50px;
	width: 50px;
}

.switch {
	width: 60px;
	height: 34px;
	position: relative;
	display: inline-block;
}

.switch input {
	display: none;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked+.slider {
	background-color: #2196F3;
}

input:focus+.slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

.table>tbody>tr>td, .table>tfoot>tr>td {
	vertical-align: middle;
}

@media screen and (max-width: 600px) {
	table#cart tbody td .form-control {
		width: 20%;
		display: inline !important;
	}
	.actions .btn {
		width: 36%;
		margin: 1.5em 0;
	}
	.actions .btn-info {
		float: left;
	}
	.actions .btn-danger {
		float: right;
	}
	table#cart thead {
		display: none;
	}
	table#cart tbody td {
		display: block;
		padding: .6rem;
		min-width: 320px;
	}
	table#cart tbody tr td:first-child {
		background: #333;
		color: #fff;
	}
	table#cart tbody td:before {
		content: attr(data-th);
		font-weight: bold;
		display: inline-block;
		width: 8rem;
	}
	table#cart tfoot td {
		display: block;
	}
	table#cart tfoot td .btn {
		display: block;
	}
}

.cartImg {
	width: 100px;
	height: 100px;
}

.unavailable {
	color: red;
}

/* Readable*/
.navbar-inverse .navbar-brand {
	color: #ffffff
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus
	{
	color: #ffffff;
	background-color: transparent
}

.navbar-inverse .navbar-text {
	color: #ffffff
}

.navbar-inverse .navbar-nav>li>a {
	color: #ffffff
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus
	{
	color: #ffffff;
	background-color: transparent
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover,
	.navbar-inverse .navbar-nav>.active>a:focus {
	color: #ffffff;
	background-color: transparent
}

.navbar-inverse .navbar-nav>.disabled>a, .navbar-inverse .navbar-nav>.disabled>a:hover,
	.navbar-inverse .navbar-nav>.disabled>a:focus {
	color: #cccccc;
	background-color: transparent
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover,
	.navbar-inverse .navbar-nav>.open>a:focus {
	background-color: transparent;
	color: #ffffff
}

.navbar {
	font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif
}

.navbar-nav, .navbar-form {
	margin-left: 0;
	margin-right: 0
}

.navbar-nav>li>a {
	margin: 12.5px 6px;
	padding: 8px 12px;
	border: 1px solid transparent;
	border-radius: 4px
}

.navbar-nav>li>a:hover {
	border: 1px solid #ddd
}

.navbar-nav>.active>a, .navbar-nav>.active>a:hover {
	border: 1px solid #ddd
}

.navbar-default .navbar-nav>.active>a:hover {
	color: #4582ec
}

.navbar-inverse .navbar-nav>.active>a:hover {
	color: #ffffff
}

.navbar-brand {
	padding-top: 12.5px;
	padding-bottom: 12.5px;
	line-height: 1.9
}

.btn-default {
	color: #333333;
	background-color: transparent;
	border-color: #dddddd
}

/* cart checkout */
.panel-title {
	display: inline;
	font-weight: bold;
}

.checkbox.pull-right {
	margin: 0;
}

.pl-ziro {
	padding-left: 0px;
}

/* order receipt */
.invoice-title h2, .invoice-title h3 {
	display: inline-block;
}

.table>tbody>tr>.no-line {
	border-top: none;
}

.table>thead>tr>.no-line {
	border-bottom: none;
}

.table>tbody>tr>.thick-line {
	border-top: 2px solid;
}

/* landing css */
.landingImg {
	width: auto;
	height: 180px !important;
}

.img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img,
	.carousel-inner>.item>a>img {
	display: block;
	max-width: 100%;
	height: auto;
}

.se-pre-con {
	position: fixed;
	left: 0;
	top: 0;
	width: 98%;
	height: 100%;
	z-index: 9999;
	background: url(../images/pre-loader.gif) 50% no-repeat #fff;
}

#nav-top {
  background-color: #e67e22;
  color: white;
}

#con1 {
  padding-top: 10%;
}
#s1{ 
  background-color: #2980b9;
  color: white;
}
#s2{ background-color: white; padding-top: 30px;}
#s3{ background-color: #2980b9; color:white;}

#img-con{ padding-top: 5%; padding-right: 16%; padding-left: 16%; padding-bottom: 10%; 
}
#r1 img {
  padding-top: 10%;
}

#spa1 {
  padding-top: 10%;
  padding-bottom: 10%;
  padding-left: 10%;
  padding-right: 10%;
}
#spa2 {
  padding-bottom: 10%;
 
}

#j1 {
  background-color: #e67e22;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 70px;
    text-align: center;
    text-decoration: none;
}